body {
    font-family: Arial, sans-serif;
    background-color: #4e4e4e;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #3a3a3a;
    border: 1px solid #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

h1 {
    text-align: center;
}

p {
    margin-bottom: 20px;
}

.info-field {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #c0c0c0;
    border-radius: 5px;
    margin-right: 0px;
    color: black !important;
}

#slider-container {
    margin-top: 45px;
}

#slider-title {
    text-align: center;
    font-size: 18px;
    background-color: #2e2e2e;
    padding: 5px;
}

#slider {
    margin-top: 10px;
    bottom: 20px;
    left: 50%;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    -webkit-appearance: none;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}